/*
 *= require_tree .
 *= require_self
 */

 /* full site */

body {
  background: image-url("runner.jpg") no-repeat center center fixed;
  font-family: 'Emblema-Fill1Deco';
  background-size: cover;
}

/* logo */
.train-tracks-logo {
  padding-top: 100px;
  padding-left: 100px;
}

/* spotify */
.login-spotify {
  background-color: #84bd00;
  border-color: #84bd00;
  border-radius: 500px;
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  text-align: center;
  text-transform: capitalize;
  outline: none !important;
}

.login-spotify:hover{
  background-color: #608a00;
  outline: none;
}

.login-spotify:focus{
  background-color: #84bd00;
  outline: none;
}

.login-spotify:visited{
  background-color: hotpink;
}
