/*
 *= require_tree .
 *= require_self
 */

 /* fonts */
 @font-face {
     font-family: 'emblema_fill1_deco';
     src: font-url('Emblema-Fill1Deco-webfont.eot');
     src: font-url('Emblema-Fill1Deco-webfont.eot?#iefix') format('embedded-opentype'),
          font-url('Emblema-Fill1Deco-webfont.woff2') format('woff2'),
          font-url('Emblema-Fill1Deco-webfont.woff') format('woff'),
          font-url('Emblema-Fill1Deco-webfont.ttf') format('truetype'),
          font-url('Emblema-Fill1Deco-webfont.svg#emblema_fill1_deco') format('svg');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'emblema_headline2_deco';
     src: font-url('Emblema-Headline2Deco-webfont.eot');
     src: font-url('Emblema-Headline2Deco-webfont.eot?#iefix') format('embedded-opentype'),
          font-url('Emblema-Headline2Deco-webfont.woff2') format('woff2'),
          font-url('Emblema-Headline2Deco-webfont.woff') format('woff'),
          font-url('Emblema-Headline2Deco-webfont.ttf') format('truetype'),
          font-url('Emblema-Headline2Deco-webfont.svg#emblema_headline2_deco') format('svg');
     font-weight: normal;
     font-style: normal;

 }

 /* full site */

body {
  background: image-url("runner.jpg") no-repeat center center fixed;
  font-family: 'emblema_fill1_deco';
  background-size: cover;
  background-position: 0px 0px;
  height: 100%;
  min-height: 100%;
}

a{
  text-decoration: none;
  color: black;
}

a:active{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

.logged-in {
  font-family: 'emblema_headline2_deco';
  width: 250px;
  float: right;
  padding-right: 40px;
  padding-top: 20px;
  font-size: 15px;
}

#user-name {
  padding-left: 5px;
}


#errors {
  margin-top: 17px;
  text-align:center;
  font-size: 30px;
  background-color: gray;
  opacity: .8;
  color: white;
  width: 100%;
  position: fixed;
}

/* logo */
.train-tracks-logo {
  padding-top: 100px;
  padding-left: 70px;
}

.index-tagline{
  line-height: 20px;
  margin-left: 14%;
  margin-bottom: 20px;
}

.logo-playlist-page {
  padding-top: 25px;
  padding-left: 25px;
}

/* playlist form */
.playlist-form {
  margin-left: 15%;
  width: 75%;
  margin-top: 5%;
}

.form-group {
  margin-left: 10px;
  width: 20%;
  font-size: 40px;
  text-align: center;
  display: inline-block;
}

.form-group {
  margin-left: 10px;
  width: 20%;
  font-size: 40px;
  text-align: center;
  display: inline-block;
  font-family: 'emblema_headline2_deco';
}

#playlist_intensity {
  text-align: center;
}

#playlist_length {
  text-align: center;
}

#playlist_length a{
  color:white;
}

.generate-playlist {
  background-color: #84bd00;
  border-color: #84bd00;
  border-radius: 500px;
  width: 44%;
  margin-right: 30%;
  font-size: 20px;
  margin-top: 20px;
  outline: none !important;
}

.generate-playlist:hover {
  background-color: #608a00;
  border-color: #608a00;
  outline: none;
}

.generate-playlist:focus {
  background-color: #84bd00;
  border-color: #84bd00;
  outline: none;
}

/* spotify */
.login-spotify {
  background-color: #84bd00;
  border-color: #84bd00;
  border-radius: 500px;
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  text-align: center;
  text-transform: capitalize;
  outline: none !important;
}

.login-spotify:hover{
  background-color: #608a00;
  outline: none;
}

.login-spotify:focus{
  background-color: #84bd00;
  outline: none;
}

.login-spotify:visited{
  background-color: #84bd00;
}

.logout-spotify {
  background-color: #84bd00;
  border-color: #84bd00;
  border-radius: 500px;
  margin-left: 95px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  outline: none !important;
}

.logout-spotify:hover{
  background-color: #608a00;
  outline: none;
}

.logout-spotify:focus{
  background-color: #84bd00;
  outline: none;
}


.logout-spotify:visited{
  background-color: #84bd00;
}

.save-playlist{
  background-color: #84bd00;
  border-color: #84bd00;
  border-radius: 500px;
  float: right;
  text-align: center;
  text-transform: capitalize;
  outline: none !important;
  margin-top: 80px;
  margin-right: 18%;
}

.save-playlist:hover{
  background-color: #608a00;
  outline: none;
}

.save-playlist:focus{
  background-color: #84bd00;
  outline: none;
}

/* playlist table */

.playlist-title {
  float: left;
  margin-left: 165px;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 50px;
  font-family: 'emblema_headline2_deco';
}
.playlist-table {
  border-radius: 25px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.row:hover {
  border-radius: 10px;
  background-color: #84bd00;
}

.playlist-songs {
  font-family: 'emblema_headline2_deco';
  font-size: 15px;
  padding-top: 14px;
  margin-right: 25px;
}

.playlist-song-title {
  font-family: 'emblema_fill1_deco';
  font-size: 15px;
}

.playlist-bpm {
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  margin-right: 40px;
  width: 30%;
}

.playlist-length {
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  margin-right: auto;
  width: 30%;
  color: white;
}

/* dashboard */
.dashboard-user {
  padding-top: 75px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}

.dashboard-user p{
  font-size: 30px;
  text-align: center;
}

.dashboard-logout {
  float: right;
  margin-right: 50px;
}

.logo-dashboard-page {
  margin-left: 50px;
  width: 600px;
  float: left;
}

.dashboard-options {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 995px;
}

.dashboard-new-playlist {
  border:outset 1px #fff;
  box-shadow: 10px 10px 5px #d3d3d3;
  text-align: center;
  font-size: 30px;
  float: left;
  background-color: #84bd00;
  margin-right: 100px;
  margin-left: 100px;
  width: 200px;
  height: 200px;
}

.dashboard-new-playlist:hover {
  box-shadow: 1px 1px 1px #d3d3d3;
  border:groove 1px #d3d3d3;
}

#new-playlist {
  margin: 35px auto 10px auto;
  width: 150px;
}

.dashboard-old-playlists {
  box-shadow: 10px 10px 5px #d3d3d3;
  border:outset 1px #fff;
  text-align: center;
  font-size: 30px;
  float: left;
  margin-right: 100px;
  background-color: #84bd00;
  width: 200px;
  height: 200px;
}

.dashboard-old-playlists:hover {
  box-shadow: 1px 1px 1px #d3d3d3;
  border:groove 1px #d3d3d3;
}

#previous-playlists {
  margin: 55px auto 10px auto;
  width: 150px;
}

.dashboard-random-playlist {
  box-shadow: 10px 10px 5px rgba(87.3%,87.3%,87.3%,.4);
  border:outset 1px #fff;
  text-align: center;
  font-size: 30px;
  float: left;
  background-color: #84bd00;
  width: 200px;
  height: 200px;
}

.dashboard-random-playlist:hover {
  box-shadow: 1px 1px 1px rgba(87.3%,87.3%,87.3%,.4);
  border:groove 1px #d3d3d3;
}

#random-playlist {
  margin: 55px auto 10px auto;
  width: 150px;
}

/* footer */
.footer {
  text-align: center;
  position: fixed;
  bottom:0;
  width:100%;
  height:40px;
}

.footer p {
  line-height: 10px;
}
