/*
 *= require_tree .
 *= require_self
 */

 /* fonts */
 @font-face {
     font-family: 'emblema_fill1_deco';
     src: font-url('Emblema-Fill1Deco-webfont.eot');
     src: font-url('Emblema-Fill1Deco-webfont.eot?#iefix') format('embedded-opentype'),
          font-url('Emblema-Fill1Deco-webfont.woff2') format('woff2'),
          font-url('Emblema-Fill1Deco-webfont.woff') format('woff'),
          font-url('Emblema-Fill1Deco-webfont.ttf') format('truetype'),
          font-url('Emblema-Fill1Deco-webfont.svg#emblema_fill1_deco') format('svg');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'emblema_headline2_deco';
     src: font-url('Emblema-Headline2Deco-webfont.eot');
     src: font-url('Emblema-Headline2Deco-webfont.eot?#iefix') format('embedded-opentype'),
          font-url('Emblema-Headline2Deco-webfont.woff2') format('woff2'),
          font-url('Emblema-Headline2Deco-webfont.woff') format('woff'),
          font-url('Emblema-Headline2Deco-webfont.ttf') format('truetype'),
          font-url('Emblema-Headline2Deco-webfont.svg#emblema_headline2_deco') format('svg');
     font-weight: normal;
     font-style: normal;

 }

 /* full site */

body {
  background: image-url("runner.jpg") no-repeat center center fixed;
  font-family: 'emblema_fill1_deco';
  background-size: cover;
  background-position: 0px 0px;
}

.logged-in {
  width: 100%;
  float: right;
  padding-right: 40px;
  padding-top: 20px;
  font-size: 15px;
  padding-left: 80%;
}

/* logo */
.train-tracks-logo {
  padding-top: 100px;
  padding-left: 70px;
}

.logo-playlist-page {
  padding-top: 25px;
  padding-left: 25px;
}

/* playlist form */
.playlist-form {
  margin-left: 15%;
  width: 75%;
  margin-top: 5%;
}

.form-group {
  margin-left: 10px;
  width: 20%;
  font-size: 40px;
  text-align: center;
  display: inline-block;
}

.form-group {
  margin-left: 10px;
  width: 20%;
  font-size: 40px;
  text-align: center;
  display: inline-block;
  font-family: 'emblema_headline2_deco';
}

#playlist_intensity {
  text-align: center;
}

#playlist_time {
  text-align: center;
}

.generate-playlist {
  background-color: #84bd00;
  border-color: #84bd00;
  border-radius: 500px;
  width: 44%;
  margin-right: 30%;
  font-size: 20px;
  margin-top: 20px;
  outline: none !important;
}

.generate-playlist:hover {
  background-color: #608a00;
  border-color: #608a00;
  outline: none;
}

.generate-playlist:focus {
  background-color: #84bd00;
  border-color: #84bd00;
  outline: none;
}

/* spotify */
.login-spotify {
  background-color: #84bd00;
  border-color: #84bd00;
  border-radius: 500px;
  float: right;
  margin-top: 20px;
  margin-right: 50px;
  text-align: center;
  text-transform: capitalize;
  outline: none !important;
}

.login-spotify:hover{
  background-color: #608a00;
  outline: none;
}

.login-spotify:focus{
  background-color: #84bd00;
  outline: none;
}

.login-spotify:visited{
  background-color: #84bd00;
}

.logout-spotify {
  float: right;
  background-color: #84bd00;
  border-color: #84bd00;
  border-radius: 500px;
  margin-right: 95px;
  margin-top: 15px;
  text-align: center;
  text-transform: capitalize;
  outline: none !important;
}

.logout-spotify:hover{
  background-color: #608a00;
  outline: none;
}

.logout-spotify:focus{
  background-color: #84bd00;
  outline: none;
}


.logout-spotify:visited{
  background-color: #84bd00;
}

/* playlist table */

.playlist-title {
  text-align: center;
  font-size: 60px;
  font-family: 'emblema_headline2_deco';
}
.playlist-table {
  border-radius: 25px;
  margin-top: 75px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.playlist-table:hover {
  background-color: #84bd00;
}

.playlist-songs {
  padding-top: 25px;
  font-size: 35px;
  padding-left: 50px;
}

.playlist-song-title {
  font-size: 25px;
}

.playlist-bpm {
  padding-top: 55px;
  text-align: center;
  font-size: 35px;
  margin-left: 250px;
  margin-right: auto;
  width: 30%;
}

/* footer */
.footer {
  text-align: center;
  position:absolute;
  bottom:0;
  width:100%;
  height:40px;
}

.footer p {
  line-height: 10px;
}
