<%= render partial: "shared/log_out" if current_user %>
<%= render partial: "shared/log_in" unless current_user %>
<div class="logo-playlist-page">
  <%=link_to(image_tag("TrainTracksLogo2.png", height: "30%", width: "30%"), root_path) %>
</div>
<h4 class='playlist-title'> New Playlist </h4>
<div class="playlist-songs">
  <p>Taylor Swift</p>
  <p>Shake it Off</p>
  <p>100 bpm</p>
  <hr>
</div>
